html{
    background-color: #C2FFF9;
}


.menuMed{
    list-style: none;
    padding: 0;
    background-color: #84DFFF;
    font-family: Arial, Helvetica, sans-serif,;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10PX;
}

.menuMed li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menuMed li {
    display: inline-block;
    text-align: center;
}

.menuMed li a:hover {
    background: #516BEB;
    border-radius: 10PX;
}
.itemr{
    float: right;
}

.titleMed1 {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif,;
    font-weight: bold;
    font-size: 100px;
    padding: 30px;
    color: #00aa44;
}

.imgMed1{
    position: absolute;
    top: 10px;
    left: 750px;

}

.imgMed2 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 574px;
    left: 550px;

}

.articleMed1{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif,;
    font-weight: bold;
    font-size: 75px;
    color: #EFD345;
    margin: 20px;
}

.articleMed2{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif,;
    font-weight: bold;
    font-size: 18px;
    color: #97DBAE;
    margin: 20px;
}

.tableMed1{
    border: 3px solid purple;
    border-radius: 4px;
    margin: 10px;
    padding: 25px
}

.tableMed1 th{
    font-family: Arial, Helvetica, sans-serif,;
    font-weight: bold;
    font-size: 38px;
}

.content1 {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 20px;
    color: #112B3C;
}

.titleRem{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif,;
    font-weight: bold;
    font-size: 50px;
    margin: 20px;
    color: #009DAE;
}

.imag1rem{
   width: 150px;
   height: 150px;
}

.fotter{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 20px;
    color: #00aa44;
    text-decoration: none;

}

.fotter1{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 20px;
    color:#00aa44;

}